# Analysis of Covid Cases

In [13]:
import pandas as pd

In [70]:
df = pd.read_csv('country_wise.csv')
print(df.columns)

Index(['Country/Region', 'Confirmed', 'Deaths', 'Recovered', 'Active',
       'New cases', 'New deaths', 'New recovered', 'Deaths / 100 Cases',
       'Recovered / 100 Cases', 'Deaths / 100 Recovered',
       'Confirmed last week', '1 week change', '1 week % increase',
       'WHO Region'],
      dtype='object')

#### Confirmed Cases

In [3]:
#Summarize Case Counts by Region
#Display total confirmed, death, and recovered cases for each region.
print(df.groupby('Country/Region')['Confirmed'].sum())

Country/Region
Afghanistan           36263
Albania                4880
Algeria               27973
Andorra                 907
Angola                  950
                      ...
West Bank and Gaza    10621
Western Sahara           10
Yemen                  1691
Zambia                 4552
Zimbabwe               2704
Name: Confirmed, Length: 187, dtype: int64

#### Death Cases

In [4]:
print(df.groupby('Country/Region')['Deaths'].sum())

Country/Region
Afghanistan           1269
Albania                144
Algeria               1163
Andorra                 52
Angola                  41
                      ...
West Bank and Gaza      78
Western Sahara           1
Yemen                  483
Zambia                 140
Zimbabwe                36
Name: Deaths, Length: 187, dtype: int64

#### Recovered Cases

In [5]:
print(df.groupby('Country/Region')['Recovered'].sum())

Country/Region
Afghanistan           25198
Albania                2745
Algeria               18837
Andorra                 803
Angola                  242
                      ...
West Bank and Gaza     3752
Western Sahara            8
Yemen                   833
Zambia                 2815
Zimbabwe                542
Name: Recovered, Length: 187, dtype: int64

#### Filter Low Case Record. Exclude entries where confirmed cases are < 10

In [15]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,8,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [28]:
df[df['Confirmed'] >= 10]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa
5,Antigua and Barbuda,86,3,65,18,4,0,5,3.49,75.58,4.62,76,10,13.16,Americas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
182,West Bank and Gaza,10621,78,3752,6791,152,2,0,0.73,35.33,2.08,8916,1705,19.12,Eastern Mediterranean
183,Western Sahara,10,1,8,1,0,0,0,10.00,80.00,12.50,10,0,0.00,Africa
184,Yemen,1691,483,833,375,10,4,36,28.56,49.26,57.98,1619,72,4.45,Eastern Mediterranean
185,Zambia,4552,140,2815,1597,71,1,465,3.08,61.84,4.97,3326,1226,36.86,Africa
186,Zimbabwe,2704,36,542,2126,192,2,24,1.33,20.04,6.64,1713,991,57.85,Africa

#### 3. Identify Region with Highest Confirmed Cases

In [38]:
df ['Country/Region'] [df['Confirmed'] == df['Confirmed'].max()]

173    US
Name: Country/Region, dtype: object

#### 4) Sort Data by Confirmed Cases. Save sorted dataset into a new CSV file.

In [76]:
pd.DataFrame(df.iloc[df['Confirmed'].sort_values().index]).to_csv('Sorted_data.csv', index=False)

In [79]:
"""
# Also we can save it as a variable

sorted_df = df.iloc[df['Confirmed'].sort_values().index]
sorted_df.to_csv('Sorted_data1.csv')
"""

"\n# Also we can save it as a variable\n\nsorted_df = df.iloc[df['Confirmed'].sort_values().index]\nsorted_df.to_csv('Sorted_data1.csv')\n"

#### 5) Top 5 Countries by Case Count

In [110]:
df.iloc[df['Confirmed'].sort_values().index [::-1] [:5]]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
173,US,4290259,148011,1325804,2816444,56336,1076,27941,3.45,30.90,11.16,3834677,455582,11.88,Americas
23,Brazil,2442375,87618,1846641,508116,23284,614,33728,3.59,75.61,4.74,2118646,323729,15.28,Americas
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia
138,Russia,816680,13334,602249,201097,5607,85,3077,1.63,73.74,2.21,776212,40468,5.21,Europe
154,South Africa,452529,7067,274925,170537,7096,298,9848,1.56,60.75,2.57,373628,78901,21.12,Africa

#### 6) Region with Lowest Death Count

In [120]:
df['Country/Region'] [df['Deaths'] == df['Deaths'].min()]

19                               Bhutan
30                             Cambodia
49                             Dominica
55                              Eritrea
59                                 Fiji
68                            Greenland
69                              Grenada
75                             Holy See
94                                 Laos
114                            Mongolia
130                    Papua New Guinea
140               Saint Kitts and Nevis
141                         Saint Lucia
142    Saint Vincent and the Grenadines
148                          Seychelles
168                         Timor-Leste
181                             Vietnam
Name: Country/Region, dtype: object

#### 7. India’s Case Summary (as of April 29, 2020)

In [122]:
df[df['Country/Region'] == 'India']

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
79,India,1480073,33408,951166,495499,44457,637,33598,2.26,64.26,3.51,1155338,324735,28.11,South-East Asia

#### 8. Calculate Mortality Rate by Region. Death-to-confirmed case ratio

In [124]:
df.head()

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region
0,Afghanistan,36263,1269,25198,9796,106,10,18,3.50,69.49,5.04,35526,737,2.07,Eastern Mediterranean
1,Albania,4880,144,2745,1991,117,6,63,2.95,56.25,5.25,4171,709,17.00,Europe
2,Algeria,27973,1163,18837,7973,616,8,749,4.16,67.34,6.17,23691,4282,18.07,Africa
3,Andorra,907,52,803,52,10,0,0,5.73,88.53,6.48,884,23,2.60,Europe
4,Angola,950,41,242,667,18,1,0,4.32,25.47,16.94,749,201,26.84,Africa

In [127]:
df['Mortality Rate'] = (df['Deaths'] / df['Confirmed']) * 100

In [146]:
mortality_rate_df = pd.DataFrame(df, columns= ['Country/Region','Mortality Rate'])
print(mortality_rate_df)

         Country/Region  Mortality Rate
0           Afghanistan        3.499435
1               Albania        2.950820
2               Algeria        4.157581
3               Andorra        5.733186
4                Angola        4.315789
..                  ...             ...
182  West Bank and Gaza        0.734394
183      Western Sahara       10.000000
184               Yemen       28.562980
185              Zambia        3.075571
186            Zimbabwe        1.331361

[187 rows x 2 columns]

#### 9. Compare Recovery Rates Across Regions

In [147]:
recovery_rate_df = pd.DataFrame(df, columns= ['Country/Region','Recovered / 100 Cases'])
print(recovery_rate_df)

         Country/Region  Recovered / 100 Cases
0           Afghanistan                  69.49
1               Albania                  56.25
2               Algeria                  67.34
3               Andorra                  88.53
4                Angola                  25.47
..                  ...                    ...
182  West Bank and Gaza                  35.33
183      Western Sahara                  80.00
184               Yemen                  49.26
185              Zambia                  61.84
186            Zimbabwe                  20.04

[187 rows x 2 columns]

#### 10. Detect Outliers in Case Counts. Use mean ± 2*std deviation

#### 11. Group Data by Country and Region

In [154]:
df.groupby('WHO Region') ['Confirmed'].sum()

WHO Region
Africa                    723207
Americas                 8839286
Eastern Mediterranean    1490744
Europe                   3299523
South-East Asia          1835297
Western Pacific           292428
Name: Confirmed, dtype: int64

#### 12. Identify Regions with Zero Recovered Cases

In [161]:
df[df['Recovered'] == 0]

,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,Deaths / 100 Cases,Recovered / 100 Cases,Deaths / 100 Recovered,Confirmed last week,1 week change,1 week % increase,WHO Region,Mortality Rate
32,Canada,116458,8944,0,107514,682,11,0,7.68,0.0,inf,112925,3533,3.13,Americas,7.680022
117,Mozambique,1701,11,0,1690,32,0,0,0.65,0.0,inf,1507,194,12.87,Africa,0.646678
147,Serbia,24141,543,0,23598,411,9,0,2.25,0.0,inf,21253,2888,13.59,Europe,2.249285
161,Sweden,79395,5700,0,73695,398,3,0,7.18,0.0,inf,78048,1347,1.73,Europe,7.179293
163,Syria,674,40,0,634,24,2,0,5.93,0.0,inf,522,152,29.12,Eastern Mediterranean,5.934718
168,Timor-Leste,24,0,0,24,0,0,0,0.00,0.0,0.0,24,0,0.00,South-East Asia,0.000000